 html, body {
  background: url("../images/bg3.jpg") no-repeat center center fixed;
  -webkit-background-size: 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo{
  height: 33px;
  width: 33px;
}

.screen{
  min-height: 50vh;
}

.col {
  padding: 1rem;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;

}

.card{
  justify-content: center;
}